{{>admin-tabs route='locations'}}

<div class="d-flex align-items-center pt-3 pb-5 my-3 text-white-50 bg-purple">
  {{#if location}}
  <form class="row" action="/admin/locations/{{location.id}}?_method=PUT" method="POST">
    <div class="col-auto">
      <input class="form-control" type="text" placeholder="縣市名稱" name="name" value="{{location.name}}">
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-success" type="submit">修改</button>
      <a class="btn btn-link link-secondary" style="text-decoration:none;" href="/admin/locations">or 新增</a>
    </div>
  </form>
  {{else}}
  <form class="row" action="/admin/locations" method="POST">
    <div class="col-auto">
      <input class="form-control" type="text" placeholder="縣市名稱" name="name">
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-success" type="submit">新增</button>
    </div>
  </form>
  {{/if}}
</div>

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">縣市名稱</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each locations}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/locations/{{this.id}}" style="text-decoration:none;">
            修改
          </a>
        </button>
        <form action="/admin/locations/{{this.id}}?_method=DELETE" method="POST" style="display: inline;  ">
          <button type="submit" class="btn btn-link link-danger" style="text-decoration:none;" onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)">刪除</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<br />
<br />
