<div class="row mb-3 g-2">
  <label for="name" class="col-md-4 col-form-label">
    醫院名稱
  </label>
  <div class="col-md-8">
    <input type="text" name="name" class="form-control" id="name" placeholder="請輸入醫院名稱" value="{{ hospital.name }}"required>
  </div>
</div>

<div class="row mb-3 g-2">
  <label for="locationId" class="col-md-4 col-form-label">請選擇城市位置</label>
  <div class="col-md-8">
    <select id="locationId" class="form-control" name="locationId">
      <option value="" disabled>請選擇醫院所在位置</option>
      {{#each locations}}
      <option value="{{this.id}}" {{#ifCond this.id ../hospital.locationId}} selected {{/ifCond}}>
        {{this.name}}
      </option>
      {{/each}}  
    </select>
  </div>
</div>

<div class="row mb-3 g-2">
  <label for="image" class="col-md-4 col-form-label">
    醫院照片
  </label>
  <div class="col-md-8">
    <input type="file" name="image" class="form-control" id="image">
  </div>
</div>

<div class="row mb-3 g-2">
  <label for="address" class="col-md-4 col-form-label">
    地址
  </label>
  <div class="col-md-8">
    <input type="text" name="address" class="form-control" id="address" placeholder="請輸入醫院地址"
      value="{{ hospital.address}}" required>
  </div>
</div>

<div class="row mb-3 g-2">
  <label for="tel" class="col-md-4 col-form-label">
    電話
  </label>
  <div class="col-md-8">
    <input type="text" name="tel" class="form-control" id="tel" placeholder="請輸入電話"
      value="{{ hospital.tel}}" required>
  </div>
</div>

<div class="row mb-3 g-2">
  <label for="openingHours" class="col-md-4 col-form-label">
    開門時間
  </label>
  <div class="col-md-8">
    <input type="time" name="openingHours" class="form-control" id="openingHours" placeholder="請輸入開店時間"
      value="{{ hospital.openingHours}}" required>
  </div>
</div>

<div class="row mb-3 g-2">
  <label for="closingHours" class="col-md-4 col-form-label">
    關門時間
  </label>
  <div class="col-md-8">
    <input type="time" name="closingHours" class="form-control" id="closingHours" placeholder="請輸入閉店時間"
      value="{{ hospital.closingHours}}" required>
  </div>
</div>

<div class="row mb-3 g-2">
  <label for="website" class="col-md-4 col-form-label">
    醫院網站
  </label>
  <div class="col-md-8">
    <input type="website" name="website" class="form-control" id="website" placeholder="請輸入醫院網址"
      value="{{hospital.website}}">
  </div>
</div>

<div class="row mb-3 g-2">
  <label for="description" class="col-md-4 col-form-label">
    醫院簡介
  </label>
  <div class="col-md-8">
    <textarea type="text" name="description" class="form-control" id="description" rows="5" cols="20"
      required>{{ hospital.description}}</textarea>
  </div>
</div>

<div class="d-flex flex-row justify-content-end mb-2 mt-5 g-2">
  <button class="btn btn-success ms-2" type="submit">Save</button>
  <a href="javascript:history.back()" type="button" class="btn btn-light ms-5">Back</a>
</div>